@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
* {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif; }

body {
  background: url(../img/addressbg.jpg), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  padding-bottom: 100px; }

.form__container {
  width: 50%;
  margin: 100px auto;
  background: rgba(179, 178, 176, 0.6);
  padding: 50px 30px 20px 30px;
  border-radius: 5px; }
  .form__container .error {
    color: #fff;
    background: rgba(252, 94, 94, 0.8);
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 10px 0; }
  .form__container .title {
    color: #fff;
    text-align: center;
    margin-bottom: 50px; }
  .form__container .contact__form {
    display: flex;
    flex-direction: column; }
    .form__container .contact__form .form__input, .form__container .contact__form .submit__button {
      margin: 10px 0;
      padding: 10px;
      border: 0;
      border-radius: 3px; }
    .form__container .contact__form .submit__button {
      cursor: pointer; }
      .form__container .contact__form .submit__button:hover {
        background: rgba(63, 156, 63, 0.7);
        color: #fff; }

.contacts__container {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap; }
  .contacts__container .contact {
    background: #d6d2d1;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    margin: 10px 20px 10px 20px;
    width: 200px; }
    .contacts__container .contact .deleteBtn {
      border: 1px solid #000;
      border-radius: 50%;
      position: absolute;
      background: #d6d2d1;
      left: 92%;
      display: flex;
      align-content: center;
      bottom: -7px;
      cursor: pointer;
      text-decoration: none;
      color: #000; }
