@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
$form-background: rgba(179, 178, 176, .6);
$contact-background: #d6d2d1;
$overlay-color: rgba(0, 0, 0, .6);
$error-color: rgba(252, 94, 94, .8);
$black: #000;
$white: #fff;
$green: rgba(63, 156, 63, 0.7);

* {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
}

body {
  background: url(../img/addressbg.jpg), linear-gradient($overlay-color, $overlay-color), no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  padding-bottom: 100px;
}

.form__container {
  width: 50%;
  margin: 100px auto;
  background: $form-background;
  padding: 50px 30px 20px 30px;
  border-radius: 5px;

  & .error {
    color: $white;
    background: $error-color;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 10px 0;
  }

  & .title {
    color: $white;
    text-align: center;
    margin-bottom: 50px;
  }

  & .contact__form {
    display: flex;
    flex-direction: column;

    & .form__input, .submit__button {
      margin: 10px 0;
      padding: 10px;
      border: 0;
      border-radius: 3px;
    }

    & .submit__button {
      cursor: pointer;

      &:hover {
        background: $green;
        color: $white;
      }
    }
  }
}

.contacts__container {
  display:flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;

  & .contact {
    background: $contact-background;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    margin: 10px 20px 10px 20px;
    width: 200px;

    & .deleteBtn {
      border: 1px solid $black;
      border-radius: 50%;
      position: absolute;
      background: $contact-background;
      left: 92%;
      display: flex;
      align-content: center;
      bottom: -7px;
      cursor: pointer;
      text-decoration: none;
      color: $black;
    }
  }
}